@{ Layout = "_Layout"; }

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Eau Claire's Salon</h1>
  <hr class="my-4">
  <p>@Html.ActionLink("Stylists", "Index", "Stylists")  |    @Html.ActionLink("Clients", "Index", "Clients")</p>
  <p class="lead"></p>
</div>
