@{ Layout = "_Layout"; }

<div class= jumbotron>
  <h1>Eau Claire's Salon</h1><hr>
  <h5>@Html.ActionLink("Stylists", "Index", "Stylists")  |    @Html.ActionLink("Clients", "Index", "Clients")</h5>
</div>