@{ Layout = "_Layout"; }

@model HairSalon.Models.Client
<h2>Delete Client</h2><hr>
<h5>Are you sure you want to delete @Html.DisplayFor(model => model.Name)</h5>
@using (Html.BeginForm()) {
  <input type="submit" value="Delete" class="btn btn-dark" />
}
<br>
@Html.ActionLink("Back", "Index")